<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" 
    action="https://formspree.io/f/moqgpryj"
    method="POST"
    enctype="multipart/form-data"
>
<fieldset id="fs-frm-inputs">
    <label for="name">Your Name</label>
    <input type="text" name="name" id="name" placeholder="John Smith" required="">
    <label for="message">Problem Description</label>
    <textarea rows="5" name="message" id="message" placeholder="What you were doing when the bug or crash occurred." required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
</fieldset>
<div class="g-recaptcha" data-sitekey="6Ld2PAYcAAAAANh_i-Oi6n7y8Yi7HZA5-ggJHfoM"></div><br/>
<input class="button" type="submit" value="Submit">
</form>