<div class="post-list">
    <div class="post">
        <div class="post-thumbnail">
            <a href="">
            <img alt="Steam" src="/assets/communities/steam.png"/>
            </a>
        </div>
        <div class="post-meta">The Steam community is reasonably active and maintained by Studio Alemni. It's a great place to request support, view common questions, and get developer's logs and announcements right to your Steam library.<br><a href="{{ post.url | relative_url }}">Join the discussion</a>
        </div>
    </div> 

    <div class="post">
        <div class="post-thumbnail">
            <a href="">
            <img alt="Discord" src="/assets/communities/discord.png"/>
            </a>
        </div>
        <div class="post-meta">Discord is one of the most popular chat platforms, and the Legends of Astravia server is a great place to get notified of updates right away, chat with other players anticipating the game, and ask the development team questions. <br><a href="{{ post.url | relative_url }}">Join the Discussion</a>
        </div>
    </div> 

    <div class="post">
        <div class="post-thumbnail">
            <a href="">
            <img alt="Reddit" src="/assets/communities/reddit.png"/>
            </a>
        </div>
        <div class="post-meta">Though currently not very active or heavily maintained, Reddit is a widely used social media platform with a heavy focus on community. Upon the game's release, we hope to see more discussions emerge. <br><a href="{{ post.url | relative_url }}">Join the discussion</a>
        </div>
    </div> 
</div>