<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <!-- <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul> -->
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-2">
        <!-- <small>{{- site.description | escape -}}</small> -->
        <div class="footer-list">
          {% for link in site.data.footer_links %}
            <div class="list-item"><a href="{{ link.url | relative_url}}">{{ link.title }}</a></div>
          {% endfor %}
        </div>
      </div>
    </div>
    <p style="font-size: 0.7em; line-height: auto;">© {{ "now" | date: "%Y" }} Studio&nbsp;Alemni. Astravia® is a registered trademark of Studio&nbsp;Alemni&nbsp;LLC.{% if page.title == 'Legends of Astravia' or page.title == 'FAQs' %} Golden Sun ©2001 Camelot, Grandia ©1997 Game Arts. These titles are only mentioned as a point of reference, and does not constitute endorsement from the developers or publishers.{% endif %}</p>
  </div>
</footer>
