{% assign image_parts = include.image | split: "." %}
{% assign alt_text = image_parts[0] %}
{% assign file_ext = image_parts[1] %}
{%- case file_ext' -%}
{%- when 'mp4', 'webm' -%}
<video style="display: block;margin-left: auto;margin-right: auto;padding: 10px 0;max-width:900px" controls loop="true"><source src="{{ site.content_url }}{{ include.page.image_basepath }}{{ include.image }}" type="video/{{ file_ext }}" /></video>
{%- else -%}
<img loading="lazy" class="post-image" src="{{ site.content_url }}{{ include.page.image_basepath }}{{ include.image }}" alt="{{ alt_text }}">
{%- endcase -%}
