<div class="widget-container">
{% case include.game_handle %}
{% when 'legends-of-astravia-demo' %}
<iframe frameborder="0" src="https://itch.io/embed/191443?bg_color=222222&amp;fg_color=eeeeee&amp;border_color=363636" width="100%" height="200" style=""><a href="https://studioalemni.itch.io/legends-of-astravia">Legends of Astravia by Studio Alemni</a></iframe>
<small>Trouble viewing the widget? <a href="https://studioalemni.itch.io/legends-of-astravia">Click here</a>.</small>
{% else %}
Invalid game handle!
{% endcase %}
</div>