<div class="widget-container">
{% case include.game_handle %}
{% when 'legends-of-astravia-demo' %}
<iframe src="https://store.steampowered.com/widget/1504930/" frameborder="0" width="100%" height="190"></iframe>
<small>Trouble viewing the widget? <a target="_blank" href="https://store.steampowered.com/app/1233680/Legends_of_Astravia/">Click here</a>.</small>
{% when 'legends-of-astravia' %}
<iframe src="https://store.steampowered.com/widget/1233680/" frameborder="0" width="100%" height="190"></iframe>
<small>Trouble viewing the widget? <a target="_blank" href="https://store.steampowered.com/app/1233680/Legends_of_Astravia/">Click here</a>.</small>
{% else %}
Invalid game handle!
{% endcase %}
</div>