@charset "utf-8";

$heading-font-family: "Alegreya", serif;

// Define defaults for each variable.

//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
//$base-font-family: "Montserrat", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family: "Merriweather Sans", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$base-letter-spacing: 0.1pt;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

$spacing-unit:     30px !default;

$text-color:       #d1d2d8 !default;
$background-color: #10121c !default;
$brand-color:      #ae7c9e !default;
$header-color:     #1e2231e7 !default;
$footer-color:     #1e2231 !default;
//$footer-color:     #38538a !default;
// $brand-color:      #8f97c7 !default;
// $brand-color:      #7e8acc !default;

$grey-color:       #737683 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    950px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
