---
layout: default
---

<div class="news">
  <div class="return-link">
    <a href="{{ '/' | relative_url }}">← Return to Homepage</a>
  </div>
  {%- if page.alt_title or page.title -%}
  <header class="post-header">
    <h1 class="page-title">{{ page.alt_title }}</h1>
  </header>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in site.posts -%}
        {% include news_post.html post=post %}
      {%- endfor -%}
    </div>
  {%- endif -%}

  <p>For an archive of news posted prior to November 2022, please visit <a target="_blank" href="https://studioalemni.itch.io/legends-of-astravia/devlog">itch.io</a>.</p>

  <p class="rss-subscribe"><a target="_blank" href="{{ "/feed.xml" | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> Subscribe via RSS</a></p>
</div>
